{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> LOGIN </title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>

    <body>
        <div class="container-page">
            
            <header class="header" style="justify-content: center">
                <div class="brand">
                    <img src="{% static 'images/EduFlow.png' %}" alt="logo" class="logo-img">
                </div>
            </header>

            
            <main class="page-content">
                <div class="container">
                    <div class="login-box card">
                        
                        <h2 style="margin-bottom:6px"><i class="fa-solid fa-user-shield"></i> Welcome back, Programme Leader</h2>
                        <p style="color:var(--muted);margin-bottom:12px">Sign in to access your dashboard</p>

                        {% if messages %}
                            <ul class="messages-list" style="list-style: none; padding: 0; margin-bottom: 15px;">
                            {% for message in messages %}
                                <li style="color: var(--danger-color, red); margin-bottom: 5px; font-weight: bold;" 
                                    {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        
                        <form method="POST">
                            {% csrf_token %}
                            
                            <div class="input-group" style="margin-bottom: 20px;">
                                <i class="fa-solid fa-user"></i>
                                <input id="loginUsername" name="username" required placeholder="Username ">
                            </div>

                            <div class="input-group" style="margin-bottom: 20px;">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" id="loginPassword" name="password" required placeholder="Password ">
                            </div>

                            <div class="input-group" style="margin-bottom: 20px;">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <select id="loginRole" name="role" required>
                                    <option value="" disabled selected>Select your role</option>
                                    <option value="leader">Programme Leader</option>
                                    <option value="student">Student</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>

                            <div style="display:flex;gap:10px;align-items:center; margin-top: 15px;">
                                <button class="btn primary" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>

            
            <footer class="footer">
                <div class="brand">
                    <img src="{% static 'images/EduFlow_w.png' %}" alt="logo" class="logo-img">
                </div>
                <span class="footer-text">Every step you take today brings you closer to your dreams</span>
                
                <div class="footer-icons">
                    <a href="https://www.instagram.com/gcetoman?utm_source=ig_web_button_share_sheet&amp;igsh=ZDNlZDc0MzIxNw==" class="icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://gcet.edu.om/ar/%D8%A7%D8%AA%D8%B5%D9%84-%D8%A8%D9%86%D8%A7/" class="icon"><i class="fa-regular fa-envelope"></i></a>
                    <a href="https://gcet.edu.om/ar/%D8%A7%D8%AA%D8%B5%D9%84-%D8%A8%D9%86%D8%A7/" class="icon"><i class="fa-solid fa-square-phone-flip"></i></a>
                </div>
            </footer>

        </div>
        
        <script src="{% static 'JS/main.js' %}"></script>
        <div class="toast"></div>
    </body>
</html>